@model Hehannul.BirdWatch.Models.BirWatchViewModels.IndexViewModel

@{
    ViewData["Title"] = "Havaintolaskuri";
}

<div>
    <h2>Varikset</h2>
    <p>Havainnot: @Model.NumberOfHoodedCrows</p>
    <div class="setting-action">
        <form asp-action="AddWatch" asp-route-birdType="Varis" ethod="post" asp-antiforgery="true">
            <div>
                <input type="submit" value="Lis&auml;&auml;" class="btn btn-default settings-sm-btn" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <h2>Harakat</h2>
    <p>Havainnot: @Model.NumberOfPicaPicas</p>
    <div class="setting-action">
        <form asp-action="AddWatch" asp-route-birdType="Harakka" ethod="post" asp-antiforgery="true">
            <div>
                <input type="submit" value="Lis&auml;&auml;" class="btn btn-default settings-sm-btn" />
            </div>
        </form>
    </div>
</div>



